@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: Ubuntu !important;
}

.create-poll-text {
    height: 100vh;
    background-color: #676465;
}

.wrapper {
    width: 60%;
}

.title {
    width: 90%;
}

.input-box {
    padding-bottom: 80px;
}

.text-category, .input-box, .wrapper, .text-poll .box, .text-poll {
    border-radius: 15px !important;
}

.text-poll .box {
    height: 30px;
}

.btn {
    background: #09174B !important;
    border-radius: 20px !important;
}


@media (max-width:1024px) {
    .wrapper {
        width: 70%;
    }
    
    .profile p, .input-box {
        font-size: 1.1rem !important;
    }

    .profile img {
        width: 50px;
        height: 50px;
    }

    .close {
        width: 30px;
        height: 30px;
    }

    .input-box {
        padding-bottom: 60px;
    }
}

@media (max-width:768px) {
    .title, .btn {
        font-size: 1.3rem !important;
    }

    .profile p, .input-box {
        font-size: 1.0rem !important;
    }

    .text-category, .text-poll .box {
        font-size: 0.9rem !important;
    }

    .profile img {
        width: 45px;
        height: 45px;
    }
    
    .close {
        width: 20px;
        height: 20px;
    }
}

@media (max-width:425px) {
    .wrapper {
        width: 80%;
    }

    .profile img {
        width: 40px;
        height: 40px;
    }

    .title {
        font-size: 1.1rem !important;
    }

    .profile p, .input-box, .text-category, .text-option, .btn, .text-poll input, .text-poll .box {
        font-size: 0.8rem !important;
    }

    .input-box {
        padding-bottom: 40px;
    }
    
    .text-poll .box {
        height: 20px;
    }
}

@media (max-width:375px) {
    .wrapper {
        width: 90%;
    } 

    .title {
        font-size: 1.0rem !important;
    }

    .profile p, .input-box, .text-category, .text-option, .btn, .text-poll input, .text-poll .box {
        font-size: 0.7rem !important;
    }

    .profile img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width:320px) {
    .title {
        font-size: 0.9rem;
    }

    .input-box {
        padding-bottom: 30px;
    }
}