@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: Ubuntu !important;
}

.bg-cover {
    background: url(../images/cover-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text-navy {
    color: #09174B;
}

.fs-14 {
    font-size: 14px;
}

.text-grey {
    color: #686868;
}

#new-password .container {
    width: 80%;
}

.btn, .text, .password {
    width: 368px;
    height: 47px;
    border-radius: 8px;
}

.btn {
    background-color: #09174B;
    border-radius: 16px;
}

@media (max-width:768px) {
    .btn, .text, .password {
        width: 300px;
        height: 37px;
    }

    #new-password .fs-5 {
        font-size: 16px !important;
    }

    #new-password .fs-4 {
        font-size: 20px !important;
    }
}

@media (max-width:425px) {
    .bg-cover {
        height: 50vh;
    }

    #new-password .container {
        width: 100%;
    }

    .btn, .text, .password {
        width: 350px;
    }

    .chartpoll-img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:375px) {
    .bg-cover {
        height: 40vh;
    }

    .btn, .text, .password {
        width: 300px;
        height: 34px;
    }
}

@media (max-width:320px) {
    .bg-cover {
        height: 30vh;
    }

    .btn, .text, .password {
        width: 250px;
        height: 30px;
    }

    #new-password .fs-5 {
        font-size: 14px !important;
    }
}
