*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button{
  font-family: 'Ubuntu', sans-serif;
}

#cont{
  background: #09174B;
}
.check img{
  width: 10%;
}
.bg-cover {
    background: url(../images/cover-img.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
