*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link{
    color: #09174B;
}

.nav-link button{
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: #09174B;
    width: 4rem;
    padding: 0.05rem;
}

.hero{
    height: auto;
}
.left-bg, .btn-sec-4{
    background: linear-gradient(180deg, #010F43 0%, #09174B 124.76%);
    height: auto;
}

.right{
    background: url(../images/telescopes-1722668_960_720\ 1.png)no-repeat;
    background-size: cover;
    height: auto;
}
.square{
    height: 123px;
    width: 123px;
    position: relative;
    left: -1rem;
    top: 43%;
    background: #9D37A6;
    mix-blend-mode: color-dodge;
}
.circle{
    width: 200px;
    height: 200px;
    position: relative;
    background: #031145;
    right: 5%;
    top: 47%;
    mix-blend-mode: screen;

}
.text{
  margin-top: 6%;
}

/* second section */
.sec-two-heading{
    color: rgb(4, 4, 70);
    font-weight: 700;
    line-height: 1.1;
}

.card{
  background: #EEEEEE;
  border: none;
  /* width: 22rem; */
}
.quotes{
  width: 10%;
}

/* forth section */

.bgimage{
    background: url(../images/swirl.png)no-repeat;
    background-size: cover;
    height: auto;
    background-position: 100% 100%;

}
.aks{
  color: #08174C;
}
.bgks button{
  background: #EEEEEE;
  color: #464646;

}
.width-30{
    width: 30%;
}
.cards-container{
    width: 85%;
}
.cards{
    width: 26rem;
}
.card-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.footer-text{
  color: #C4C4C4;
}

.input-box {
    background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .square, .circle, .img-div{
        display: none !important;
    }
}
