*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}
.menulong{
  background-color: #09174B;
  font-family: 'Ubuntu', sans-serif;
}

.menulong a{
  color: white !important;
  font-weight: 700;
}

.nav-item:hover{
  background: rgba(238, 238, 238, 0.5);
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  width: 115%;
}
.top-rectangle{
  height: 60px;
  top: 0px;
  left: 0px;
  background: #2A5297;
  z-index: -1;
}
.counter{
  font-size: 0.9rem;
  top:7px;
  right:10px;
  width: 0.5%;
  height: 35%;
  border-radius: 50%;
  padding-left: 5px;
}
.dash{
  margin-top: 4rem;
}
.blue-number{
  color: #1E79A1;
}
.one{
  background: #09174B;
  box-shadow: 0px 2.72145px 2.72145px rgba(0, 0, 0, 0.25);
  border-radius: 4.96006px;
}
.add-user{
  background-color: #09174B;
}
